<div class="question">
  <div class="question-author">
    <img class="avatar" [src]="question.owner.avatar?.attributes.url || './assets/avatar.jpg'" /> <span class="name">{{ question.owner?.username }}问到</span>
  </div>
  <div class="question-title">
    <h3>{{ question.content }}</h3>
  </div>
  <div class="question-meta">
   {{ question.dateFromNow }}
  </div>
</div>
<div class="answer-title">回答</div>
<ul class="answer-list">
  <li class="answer-card">
    <div class="name">亚索｜前端工程师</div>
    <div class="answer-content">
      <img  class="avatar" src="./assets/avatar.jpg" />
      <div class="comment" (click)="playVoice(1)">
        <i class="material-icons voice">volume_up</i>  
        <span class="duration">00:46</span>
      </div>
      <audio id="1" src="http://7xo69p.com1.z0.glb.clouddn.com/f0ZhdfBuStBT1zwU3OUQUMDT9tQ=/FpBnq1IjDY8Y6f2_BcJ9WD-qEe_h" preload="metadata"></audio>
    </div>
    <div class="card-bottom">
      <span class="time">9天前</span>
    </div>
  </li>
  <li class="answer-card">
    <div class="name">亚索｜前端工程师</div>
    <div class="answer-content">
      <img  class="avatar" src="./assets/avatar.jpg" />
      <div class="comment" (click)="playVoice(1)">
        <i class="material-icons voice">volume_up</i>  
        <span class="duration">00:46</span>
      </div>
      <audio id="1" src="http://7xo69p.com1.z0.glb.clouddn.com/f0ZhdfBuStBT1zwU3OUQUMDT9tQ=/FpBnq1IjDY8Y6f2_BcJ9WD-qEe_h" preload="metadata"></audio>
    </div>
    <div class="card-bottom">
      <span class="time">9天前</span>
    </div>
  </li>
</ul>
<button class="voice-btn"  [class.active]="btnActive" (touchstart)="beginTranscribe($event)" (touchend)="endTranscribe($event)"><md-icon>keyboard_voice</md-icon></button>