<div class="question">
  <div class="question-author">
    <img class="avatar" [src]="question.owner.avatar?.attributes.url || './assets/avatar.jpg'" /> 
    <span *ngIf="!question.to" class="name">{{ question.owner?.username }}问到</span>
    <span *ngIf="question.to" class="name">{{ question.owner?.username }}向 {{ question.to.attributes.username}} 问到</span>
  </div>
  <div class="question-title">
    <h3>{{ question.content }}</h3>
  </div>
  <div class="question-meta">
   <span>{{ question.dateFromNow }}</span>
   <span>{{ question.views }}人看过</span>
  </div>
</div>
<div class="answer-title">回答</div>
<app-loading *ngIf="answerLoading"></app-loading>
<ul *ngIf="!answerLoading" class="answer-list">
  <li *ngFor="let answer of answers" class="answer-card">
    <div class="name">{{ answer.owner.username }}｜{{ answer.owner.introduction }}</div>
    <div class="answer-content">
      <img  class="avatar" [src]="answer.owner.avatar?.attributes.url || './assets/avatar.jpg'" />
      <audio [id]="answer.id" [src]="answer.url"></audio>
      <div class="comment" (click)="playVoice(answer.id)">
        <i class="material-icons voice">volume_up</i>  
        <span class="duration">{{answer.duration}}s</span>
      </div>

    </div>
    <div class="card-bottom">
      <span class="time">{{answer.dateFromNow}}</span>

    </div>
  </li>
</ul>
<button class="voice-btn"  [class.active]="btnActive" (touchstart)="beginTranscribe($event)" (touchend)="endTranscribe($event)"><md-icon>keyboard_voice</md-icon></button>