<div class="user-top-container">
  <img class="blur" [src]="avatarUrl || './assets/avatar.jpg'" />
  <label for="avatar"><img class="avatar" [src]="avatarUrl || './assets/avatar.jpg'" /></label>
  <input id="avatar" class="avatar-upload" type="file" (change)="fileChangeEvent($event)"/>
  <div class="upload-controls">
     <button md-mini-fab class="cancle-btn" [class.hidden]="hiddenAvatarBtn" (click)="cancleUpload()"><md-icon>clear</md-icon></button>
     <button md-mini-fab class="upload-btn" [class.hidden]="hiddenAvatarBtn" (click)="uploadAvatar()"><md-icon>check</md-icon></button>
  </div>
</div>
<div class="user-middle-container">
  <button class="edit-btn" md-raised-button (click)="openDialog()"><span>提问</span><md-icon>edit</md-icon></button>
  <div class="name">{{ name }} | {{ introduction }}</div>
</div>
<ul class="user-setting">
  <li><a routerLink="/myQuestions" class="link" >我的提问<md-icon>chevron_right</md-icon></a></li>
  <li><a routerLink="/myAnswers">我的回答<md-icon>chevron_right</md-icon></a></li>
  <li (click)="resetPassword()"><a>重置密码<md-icon>chevron_right</md-icon></a></li>
  <li (click)="logOut()"><a>退出登录<md-icon>chevron_right</md-icon></a></li>
  <li><a>关于<md-icon>chevron_right</md-icon></a></li>
</ul>
<app-alert></app-alert>