.answer-list {
  margin-bottom: 60px;
  padding: 0;
  .name {
    color: #bdbdbd;
    margin-bottom: 5px;
  }
  .answer-card {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #fff;
    .answer-content {
      display: flex;
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .comment {
    display: flex;
    align-items: center;
    color: #fff;
    width: 200px;
    height: 40px;
    position: relative;
    margin: 0px 0px 0px 10px;
    background: #de6a6a;
    border-radius: 20px;
    flex: 1;
    margin-right: 50px;
    .voice {
      font-size: 30px;
      color: #fff;
      margin-left: 15px;
    }
    .duration {
      flex: 1;
      text-align: right;
      margin-right: 15px;
      color: #fcc;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0px;
      left: 0;
      border: solid 14px;
      border-color: transparent  transparent #de6a6a transparent;
      font-size: 0;
    }
  }
  .card-bottom {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #bdbdbd;
    margin-top: 6px;
    .time {
      flex: 1
    }
    .material-icons{
      height: 12px;
      font-size: 12px;
    }
  }
}