.user-list {
  margin: 0;
  padding: 0px;
}
.user-card {
  background: #fff;
  display: block;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  .user-container {
    flex: 1;
    display: flex;
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    .user-content {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .unfollow-btn {
    outline: 0px;
    display: flex;
    align-items: center;
    border: 1px solid #ff5722;
    width: 90px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    color: #ff5722;
    background: #fff;
    i {
      font-size: 16px;
    }
  }
}