.total-number {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 20px;
  color: #999;
}
.user-list {
  margin: 0;
  padding: 0px;
}
.user-card {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #eee;
  transition: all 0.5s ease-out;
  &.active {
      transform: translateX(-210px);
  }
  .user-container {
    flex: 1;
    display: flex;
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    .user-content {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .btns {
    position: absolute;
    display: flex;
    top: 0px;
    right: -210px;
    top: -1px;
    .btn {
      font-size: 16px;
      color: #fff;
      border: 0px;
      height: 102px;
      margin: 0px;
      line-height: 100px;
      outline: 0px;
    }
    
    .unfollow-btn {
      background: #F44336;
      width: 90px;
    }
    .question-btn {
      width: 60px;
      background: #2196F3;
    }
    .private-btn {
      width: 60px;
      background: #FF9800;
    }
  }

}