/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';


body {
  font-size: 14px;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}