.search-input-container {
  position: relative;
  padding: 8px 12px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  .search-input {
    width: 100%;
    border: none;
    outline: 0;
    resize: none;
    font-size: 14px;
  }
  .clear {
    position: absolute;
    right: 7px;
    top: 7px;
  }
}
.result-header {
  padding: 8px 20px;
  font-weight: 700;
  font-size: 14px;
  color: #999;
}
.result-container {
  padding: 20px 20px 25px 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  position: relative;
  .follow-btn {
    position: absolute;
    display: block;
    top: 15px;
    right: 5%;
    outline: 0px;
    border: 1px solid #ff5722;
    min-width: 60px;
    height: 25px;
    font-size: 14px;
    border-radius: 3px;
    color: #ff5722;
    background: #fff;
    i {
      font-size: 16px;
    }
  }
  .result-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .result-name {
    margin: 15px;
  }
  .result-email {
    display: flex;
    align-items: center;
  }
  .result-btn {
    display: block;
    margin-top: 15px;
    text-align: center;
    line-height: 40px;
    background: #000;
    color: #FFEB3B;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
  }
}