<div class="search-input-container">
  <input name="searchKey" type="text" class="search-input" placeholder="输入你要搜索的用户" [(ngModel)]="searchKey" (keydown)="search($event)"/>
  <i *ngIf="searchKey !== ''" class="material-icons clear" (click)="clearSearchKey()">clear</i>
</div>
<div>
  <div class="result-header">搜索结果</div>
  <div *ngIf="result" class="result-container">
    <img class="result-avatar" [src]="result.avatar" />
    <div class="result-name">{{ result.username }} | {{ result.introduction }}</div>
    <div class="result-email"><i class="material-icons">mail</i>: {{ result.email }}</div>
    <button md-raised-button class="result-btn" (click)="openDialog()">向他提问</button>
    <button *ngIf="!isFollowing" class="follow-btn" (click)="follow()"><i class="material-icons">add</i>关注</button>
    <button *ngIf="isFollowing" class="follow-btn" (click)="unfollow()"><i class="material-icons">close</i>取关</button>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-alert></app-alert>