<div class="home-top-banner">
  <img src="./assets/banner.jpeg" />
</div>
<app-loading *ngIf="loading"></app-loading>
<ul *ngIf="!loading" class="q-container">
  <a *ngFor="let question of questions; let i = index" [routerLink]="['/question', question.id]"
      class="question-card">
      <div class="question-content">
        <span>{{ question.content }} </span>
        <i *ngIf="question.to" class="material-icons">account_circle</i>
      </div>
      <div class="owner-job">
        {{ question.owner.username}}｜{{ question.owner.introduction }}
      </div>
      <div *ngIf="question.lastAnswer" class="answer-container">
        <div class="answer-owner">
          <audio [id]="i" [src]="question.lastAnswer.url"></audio>
          <img class="avatar" [src]="question.lastAnswer.currentUser.avatar.url"/>
          <div class="comment" (click)="playVoice($event, i)">
            <i class="material-icons voice">volume_up</i>  
            <span class="duration">{{question.lastAnswer.duration}}s</span>
          </div>
        </div>

        <div class="likes">
          <md-icon>whatshot</md-icon>
        </div>
      </div>
      <div *ngIf="!question.lastAnswer" class="noAnswer">
        <h4>暂无回答！</h4>
      </div>
      <div class="card-bottom">
        <span class="time">{{ question.dateFromNow }}</span>
        <span class="likes"><md-icon class="like-icon">thumb_up</md-icon>2</span>
      </div>
  </a>
</ul>

